html, body, .App, button {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a, button {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
}

button {
    border: none;
}